<form action="/signup" method="POST">
    <input name="fname" placeholder="Enter your firstName ">
    <input name="lname" placeholder="Enter your lastName">
    <input name="mobile" placeholder="Enter mobile Number ">
    <input name="email" placeholder="Enter yourE-Mail ID">
    <input name="confirmEmail" placeholder="Confifirm your E-Mail ID">
    <input name="password" placeholder="Enter your Password">
    <button type="submit">Signup</button>
</form>
